{
    "users":[
        {"auth_service": "ptc", "username": "user1", "password": "pass1"},
        {"auth_service": "google", "username": "user2", "password": "pass2"}
    ],
    "work":[
        [lat1,long1, lat2,long2]
    ]
}